<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mahesh</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/mahesh.css')}}">
</head>
<body>
    <center>
        <h1>hai i am Mahesh Babu</h1>
       <!-- <table>
            <thead>
                <tr>
                    <th>babu-1</th>
                    <th>babu-2</th>
                    <th>babu-3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
        <img src="{{url_for('static',filename='images/mahesh babu.jfif')}}" alt="image not found">
        </td>
        <td>
        <img src="{{url_for('static',filename='images/babu1.jpg')}}" alt="image not found">
        </td>
        <td>
        <img src="{{url_for('static',filename='images/babu2.jpg')}}" alt="image not found">
        </td>
        </tr>
        </tbody>
    </table>-->
    <marquee behavior="alternate" direction="slide"><img src="{{url_for('static',filename='images/babu2.jpg')}}" alt="image not found">
    </marquee>
        <a href="{{url_for('pavan')}}">pavan Kalyan</a>
    </center>
</body>
</html>