<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pavan</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/mahesh.css')}}">
</head>
<body>
    <center>
        <h1>hai i am Pavan Kalyan</h1>
        <marquee behavior="alternate" direction="slide">
        <img src="{{url_for('static',filename='images/pavan.jpg')}}" alt="image not found">
    </marquee>
    <a href="{{url_for('mahesh')}}">mahesh babu</a>
    </center>
</body>
</html>